<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="insert_gazebo" params="prefix">
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <parameters>$(find minibot_bringup)/config/minibot_controllers_gazebo.yaml</parameters>
            </plugin>
        </gazebo>

        <gazebo reference="${prefix}l_wheel">
            <mu1>200</mu1>
            <mu2>200</mu2>
            <kp>10000000.0</kp>
            <kd>1.0</kd>
            <!-- <minDepth>0.001</minDepth> -->
        </gazebo>

        <gazebo reference="${prefix}r_wheel">
            <mu1>200</mu1>
            <mu2>200</mu2>
            <kp>10000000.0</kp>
            <kd>1.0</kd>
            <!-- <minDepth>0.001</minDepth> -->
        </gazebo>

        <gazebo reference="${prefix}base_link">
            <mu1>0.0</mu1>
            <mu2>0.0</mu2>
            <!-- <minDepth>0.001</minDepth> -->
        </gazebo>

        <gazebo reference="${prefix}laser_link">
            <sensor name="laser" type="ray">
                <pose>0 0 0 0 0 0</pose>
                <always_on>1</always_on>
                <update_rate>15</update_rate>
                <visualize>false</visualize>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>375</samples>
                            <resolution>1</resolution>
                            <min_angle>${-180*pi/180}</min_angle>
                            <max_angle>${180*pi/180}</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.12</min>
                        <max>8.0</max>
                        <resolution>0.05</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin name="laser" filename="libgazebo_ros_ray_sensor.so">
                    <ros>
                        <remapping>~/out:=scan</remapping>
                    </ros>
                    <frame_name>${prefix}laser_link</frame_name>
                    <output_type>sensor_msgs/LaserScan</output_type>
                </plugin>
            </sensor>
        </gazebo>

        <gazebo reference="${prefix}camera_link">
            <sensor name="${prefix}camera" type="camera">
                <update_rate>30.0</update_rate>
                <camera name="${prefix}camera">
                    <pose>0 0 0 0 -1.5707 0</pose>
                    <horizontal_fov>1.08</horizontal_fov>
                    <image>
                        <width>1280</width>
                        <height>720</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>300</far>
                    </clip>
                    <noise>
                    <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </camera>
                <plugin name="${prefix}camera_controller" filename="libgazebo_ros_camera.so">
                    <ros>
                        <!-- <namespace>${prefix}camera</namespace> -->
                        <!-- <remapping>camera1/image_raw:=camera/image_test</remapping>
                        <remapping>camera_info:=camera_info_test</remapping> -->
                    </ros>
                    <frame_name>camera_link</frame_name>
                    <hack_baseline>0.07</hack_baseline>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>